add-xml-decl: no
add-xml-space: no
anchor-as-name: yes
assume-xml-procins: no
bare: yes
clean: yes
coerce-endtags: yes
css-prefix: c
decorate-inferred-ul: no
doctype: omit
drop-empty-elements: no
drop-empty-paras: yes
drop-proprietary-attributes: no
enclose-block-text: no
enclose-text: no
escape-cdata: yes
fix-backslash: yes
fix-bad-comments: yes
fix-uri: yes
gdoc: no
hide-comments: no
indent-cdata: no
join-classes: no
join-styles: yes
literal-attributes: no
logical-emphasis: yes
lower-literals: yes
merge-divs: no
merge-emphasis: yes
merge-spans: no
ncr: yes
numeric-entities: no
omit-optional-tags: no
preserve-entities: no
quote-ampersand: yes
quote-marks: no
quote-nbsp: no
repeated-attributes: keep-last
replace-color: no
show-body-only: yes
skip-nested: yes
strict-tags-attributes: no
uppercase-attributes: no
uppercase-tags: no
word-2000: no
show-errors: 6
show-info: no
show-warnings: yes
break-before-br: no
escape-scripts: yes
indent: no
indent-attributes: no
indent-spaces: 0
indent-with-tabs: no
markup: no
punctuation-wrap: no
sort-attributes: alpha
tab-size: 4
vertical-space: no
wrap: 0
wrap-asp: no
wrap-attributes: no
wrap-jste: no
wrap-php: no
wrap-script-literals: no
wrap-sections: no
char-encoding: utf8
input-encoding: utf8
newline: LF
output-bom: no
output-encoding: utf8
quiet: yes
tidy-mark: no
